<html class="nui">
  <head>
    <title>{{title}}</title>
    <base href="/" />
  </head>
  <body>
    {{{body}}}
    <footer>
      <div class="row">
        <div class="col-xs-6">
          Version:
          {{version}}
        </div>
        <div class="col-xs-6 text-right">
          Made with ♥ by Apollo Team
        </div>
      </div>
    </footer>
  </body>
</html>