<!DOCTYPE html>
<html class="xui" ng-app="apollo-documentation">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/vendor-xui/css/xui.min.css"/>
    <base href="/"/>
    <script src="/vendor-xui/js/vendor.min.js"></script>
    <script src="/vendor-xui/js/xui.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/components/documentation-browser/documentation-browser.component.js"></script>
</head>
<body>
{{{body}}}
<xui-footer>
    <div class="row">
        <div class="col-xs-6">
            Version: {{version}}
        </div>
        <div class="col-xs-6 text-right">
            Made with ♥ by Apollo Team
        </div>
    </div>
</xui-footer>
</body>
</html>
