<xui-page-content page-title="Apollo Docfood">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-12" ng-repeat="project in $ctrl.projects">
            <h2>{{project.name}}</h2>
            <div class="form-group">
                <xui-button ng-click="$ctrl.open(project, 'master')" ng-if="project.hasMaster" display-style="primary">master</xui-button>
                <xui-button ng-click="$ctrl.open(project, 'develop')" ng-if="project.hasDevelop">develop</xui-button>
                <xui-button ng-click="$ctrl.open(project, project.latestRelease.name)" ng-if="project.latestRelease !== undefined">last release</xui-button>
            </div>
            <xui-expander heading="Release Branches" ng-if="project.releaseBranches.length > 0">
                <xui-listview items-source="project.releaseBranches" template-url="documentation-list"></xui-listview>
            </xui-expander>
            <xui-expander heading="Feature Branches" ng-if="project.featureBranches.length > 0">
                <xui-listview items-source="project.featureBranches" template-url="documentation-list"></xui-listview>
            </xui-expander>
            <xui-expander heading="Other Branches" ng-if="project.otherBranches.length > 0">
                <xui-listview items-source="project.otherBranches" template-url="documentation-list"></xui-listview>
            </xui-expander>
        </div>
    </div>
</xui-page-content>

<script id="documentation-list" type="text/ng-template">
    <a ng-href="{{item.project}}/{{item.name}}">{{item.name}}</a>
</script>
